{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>
  .md-header {
    position: initial
  }

  .md-main__inner {
    margin: 0
  }

  @media screen and (min-width:60em) {
    .md-sidebar--secondary {
      display: none
    }
  }

  @media screen and (min-width:76.25em) {
    .md-sidebar--primary {
      display: none
    }
  }
  .contact-us{
    position:absolute;
    top:48%;
    left: 35%; 
    display:none;  
  }
  .md-button:hover .contact-us{
    display: block;
  }  
</style>

<script>
  function contact(){
    const contact = document.querySelector(".contact-us");       
    if(contact.style.display==""||contact.style.display=="none"){
      contact.style.display="block";
    }else{
      contact.style.display="none";      
    }
  }
</script>

<section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">
      <div class="mdx-hero__image">
        <img src="assets/images/illustration.png" alt="" width="1659" height="1200" draggable="false">
      </div>
      <div class="mdx-hero__content">
        <h1>一个非常漂亮好用的写技术文档和知识博客的项目</h1>
        <p>仅需用markdown写文档，支持搜索，定制化，响应式适应所有设备。你也想拥有这样的网站吗？快来告诉我们吧！</p>
        <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}"
          class="md-button md-button--primary">
          Quick start
        </a>
        <a href="javascript:contact()"   class="md-button" id="md-button-contact">
          Contact us
          <div class="contact-us">
            <img src="img/contact.jpg" alt="" width="120" height="120" draggable="false" />
          </div>
        </a>                 
      </div>            
    </div>
  </div>  
</section>
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}

{% endblock %}

